.header-link{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-link ion-label{
    padding-left: 15px;
}

.brand{
    align-items: center;
    display: flex;
}

// ion-header{
//     min-height: 98.48px;
//     height: 98.48px;
//     background-color: #3880ff;
// }