<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DownloadMinutas</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DownloadMinutas</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="outer-container">
    <div id="container">
      <strong>Descarga tu informe tecnico</strong>
      
      <div class="custom-ion-item">
        
        <div class="inputGroup">
          <!-- <ion-icon name="document-text-outline" size="large" color="primary"></ion-icon>  -->
          <ion-icon name="document-text-outline" color="primary" class="input-icon"></ion-icon>
          <input type="text" name="text" class="input" placeholder="# report...">
          
        </div>
         
        <button  class="custom-button2" ><ion-icon name="cloud-download-outline" size="default" color="primary"></ion-icon>   Descargar</button>
        <button  class="custom-button2" (click)="navigateHome()"><ion-icon name="home-outline" color="primary" ></ion-icon>   Volver</button>
      </div>
    </div>
  </div>
</ion-content>
