<ion-content [fullscreen]="true" class="ion-padding">
  <app-container-card>
    <strong title>Crear Usuario</strong>

    <div form-section>
      <form #createForm="ngForm">
        <ion-input
          required
          type="text"
          fill="outline"
          label="Name"
          labelPlacement="floating"
          [ngModel]="model.name"
          name="name"
          #name="ngModel"
        >
        </ion-input>
        <br />
        <ion-input
          required
          type="email"
          fill="outline"
          label="Email"
          [pattern]="emailPattern"
          labelPlacement="floating"
          errorText="El correo electrónico no es válido"
          [ngModel]="model.email"
          name="email"
          #email="ngModel"
        >
        </ion-input>

        <br />
        <ion-input
          required
          [type]="showPassword ? 'text' : 'password'"
          fill="outline"
          label="Password"
          labelPlacement="floating"
          errorText="password es obligatorio"
          placeholder="Password"
          [(ngModel)]="model.password"
          name="password"
          #password="ngModel"
        ></ion-input>

        <ion-icon
          name="{{ showPassword ? 'eye' : 'eye-off' }}"
          (click)="togglePasswordVisibility()"
          slot="end"
        ></ion-icon>

        <br />
        <ion-input
          required
          [type]="showPassword2 ? 'text' : 'password'"
          fill="outline"
          label="Confirm Password"
          labelPlacement="floating"
          errorText="La contraseña no coincide"
          placeholder="Confirm Password"
          appValidatorPassword="password"
          [ngModel]="model.confirmPassword"
          name="confirmPassword"
          #confirmPassword="ngModel"
        >
        </ion-input>
        <ion-icon
          name="{{ showPassword2 ? 'eye' : 'eye-off' }}"
          (click)="togglePasswordVisibility2()"
          slot="end"
        ></ion-icon>
      </form>
    </div>

    <button button-section type="button" (click)="datosForm()">
      <ion-icon
        name="person-add-outline"
        size="default"
        color="primary"
      ></ion-icon>
      Crear
    </button>
  </app-container-card>
</ion-content>
