<app-container-card>
  <h3 title>Crear Usuario</h3>

  <form #createForm="ngForm" form-section (ngSubmit)="onSubmit()">
    <div>
      <ion-input
        required
        type="text"
        fill="outline"
        label="Nombre"
        labelPlacement="floating"
        [(ngModel)]="model.name"
        name="name"
      >
      </ion-input>
      <br />
      <ion-input
        required
        type="email"
        fill="outline"
        label="Correo electrónico"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        labelPlacement="floating"
        errorText="El correo electrónico no es válido"
        [(ngModel)]="model.email"
        name="email"
      >
      </ion-input>
      <br />
      <ion-input
        required
        minlength="8"
        [type]="showPassword ? 'text' : 'password'"
        fill="outline"
        label="Contraseña"
        labelPlacement="floating"
        [errorText]="password.errors?.['minlength'] ? 'La contraseña debe tener al menos 8 caracteres' : 'la contraseña es obligatorio'"
        [(ngModel)]="model.password"
        name="password"
        #password="ngModel"
      ></ion-input>

      <ion-icon
        name="{{ showPassword ? 'eye' : 'eye-off' }}"
        (click)="togglePasswordVisibility()"
      ></ion-icon>

      <br />
      <br />

      <ion-input
        required
        minlength="8"
        [type]="showPassword2 ? 'text' : 'password'"
        fill="outline"
        label="Confirmar contraseña"
        labelPlacement="floating"
        [errorText]="confirmPassword.errors?.['minlength'] ? 'La contraseña debe tener al menos 8 caracteres' : confirmPassword.errors?.['required'] ? 'la contraseña es obligatorio' : 'La contraseña no coincide'"
        appValidatorPassword="password"
        [(ngModel)]="model.confirmPassword"
        name="confirmPassword"
        #confirmPassword="ngModel"
      >
      </ion-input>

      <ion-icon
        (click)="togglePasswordVisibility2()"
        name="{{ showPassword2 ? 'eye' : 'eye-off' }}"
      ></ion-icon>
    </div>

    <br />
    <ion-button
      type="submit"
      [disabled]="!createForm.form.valid"
      color="medium"
    >
      Crear
    </ion-button>
  </form>
</app-container-card>
