<ion-grid>
  <ion-row class="top-row">
    <ion-col class="section-divider-col" size-md="12" size-sm="12">
      <ion-item-divider color="default">
        <ion-label><h1>Gestion de informes</h1></ion-label>
      </ion-item-divider>
    </ion-col>

    <ion-col size-md="4" size-sm="12">
      <app-home-card redirect="/create-report">
        <h1 title>Crear Informe</h1>
        <ion-icon icon name="create-outline" color="primary"></ion-icon>
      </app-home-card>
    </ion-col>
    <ion-col size-md="4" size-sm="12">
      <app-home-card redirect="/list-minute">
        <h1 title>Informes guardados</h1>
        <ion-icon icon name="document-text-outline" color="primary"></ion-icon>
      </app-home-card>
    </ion-col>
    <ion-col size-md="4" size-sm="12">
      <app-home-card redirect="/download-minute">
        <h1 title>Descarga tu informe</h1>
        <ion-icon icon name="cloud-download-outline" color="primary"></ion-icon>
      </app-home-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isAdmin">
    <ion-col class="section-divider-col" size-md="12" size-sm="12">
      <ion-item-divider color="default">
        <ion-label><h1>Gestion de usuarios</h1></ion-label>
      </ion-item-divider>
    </ion-col>

    <ion-col size-md="4" size-sm="12">
      <app-home-card redirect="/create-user">
        <ion-icon icon name="person-add-outline" color="primary"></ion-icon>
        <h1 title>Crear Usuarios</h1>
      </app-home-card>
    </ion-col>
  </ion-row>
</ion-grid>
