

  <h1>Hola!</h1>
  <hr>

  <ion-grid>
    <ion-row size="12">
      <ion-col size-md="4" size-sm="12">
        <a routerLink="/create-report" class="nav-link">
          <ion-card>
            <ion-card-header>
              <ion-card-title> 
                <ion-icon name="document-attach-outline" size="default" color="primary"></ion-icon>
                Crear Informe
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Registra un nuevo informe
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
      <ion-col size-md="4" size-sm="12">
        <a routerLink="/upload-minute" class="nav-link">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="document-text-outline" size="default" color="primary"></ion-icon>
                Informes guardados
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Revisa los borradores de tus informes
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>

      <ion-col size-md="4" size-sm="12">
        <a routerLink="/download-minute" class="nav-link">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="document-text-outline" size="default" color="primary"></ion-icon>
                Descarga tu informe
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Genera el pdf de tu informe 
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
    
    <!-- separador  -->
    <ion-list>
      <ion-item-group>
        <ion-item>
          
        </ion-item>
      </ion-item-group>
    </ion-list>

 

    <ion-row>
      <ion-col size-md="4" size-sm="12">
        <a routerLink="/create-user" class="nav-link">
          <ion-card>
            <ion-card-header>
              <ion-card-title> 
                <ion-icon name="person-add-outline" size="default" color="primary"></ion-icon>
                Crear Usuarios
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Registra un nuevo usuario para un equipo 
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
      
    </ion-row>


    <!-- separador  -->
    <ion-list>
      <ion-item-group>
        <ion-item>
          
        </ion-item>
      </ion-item-group>
    </ion-list>

  </ion-grid>

