<app-container-card>
  <h3 title>Inicia Sesión</h3>

  <form #loginForm="ngForm" form-section (ngSubmit)="onSubmit()">
    <div>
      <ion-input
        required
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        type="email"
        fill="outline"
        label="Email*"
        labelPlacement="floating"
        errorText="El correo electrónico no es válido"
        [(ngModel)]="model.email"
        name="email"
      >
      </ion-input>

      <br />
      <ion-input
        required
        type="password"
        fill="outline"
        label="Password"
        labelPlacement="floating"
        errorText="password es obligatorio"
        placeholder="Password"
        [(ngModel)]="model.password"
        name="password"
      >
      </ion-input>
      <a routerLink="/reset-password" class="nav-link">
        <p align="center">No recuerdas tu contraseña ?</p>
      </a>
    </div>

    <ion-button type="submit" [disabled]="!loginForm.form.valid" color="medium">
      Ingresar
    </ion-button>
  </form>
</app-container-card>
