<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

    
  <app-container-card>
      <strong title>LOGIN</strong>
      <div form-section >
        <ion-input 
          type="email"
          fill="outline"
          label="Email"
          labelPlacement="floating"
          helperText="Enter a valid email"
          errorText="Invalid email"
          ngModel
          email>
        </ion-input>
        <br>
        <ion-input 
          type="password"
          fill="outline"
          label="Password"
          labelPlacement="floating"
          placeholder="Password">
        </ion-input>
      </div>
     

      <button button-section type="submit" ><ion-icon  name="log-in-outline" size="default" color="primary"></ion-icon>   Ingresar</button>
    </app-container-card>


    <!-- <div id="container">
      <strong>Login</strong>

      <div class="custom-ion-item">
        <form (ngSubmit)="submitForm()">
          
        <div class="inputGroup">
          <ion-icon name="person-circle-outline" color="primary" class="input-icon"></ion-icon>
      
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
            class="input"
            placeholder="Email..."
          >
        
        </div>
        
        <div class="inputGroup">
          <ion-icon name="key-outline" color="primary" class="input-icon"></ion-icon>
          <input type="password" name="password" class="input" placeholder="Password..." [(ngModel)]="password">
        </div>

        <button type="submit" class="custom-button2"><ion-icon name="log-in-outline" color="primary" size="small"></ion-icon></button>
      </form>
      </div>
    </div> -->

</ion-content>
