<ion-content [fullscreen]="true">

  <app-container-card>

      <strong title>LOGIN</strong>
      
      <div form-section >
        <ion-input 
          type="email"
          fill="outline"
          label="Email"
          labelPlacement="floating"
          helperText="Enter a valid email"
          errorText="Invalid email"
          ngModel
          email>
        </ion-input>
        <br>
        <ion-input 
          type="password"
          fill="outline"
          label="Password"
          labelPlacement="floating"
          placeholder="Password">
        </ion-input>
      </div>

      <button button-section type="submit" ><ion-icon  name="log-in-outline" size="default" color="primary"></ion-icon>   Ingresar</button>

    </app-container-card>
</ion-content>
