<div id="container">
  <ng-content select="[title]"></ng-content>

  <ng-content select="[button-section]"></ng-content>
   <!--  <strong>Bienvenido</strong> -->
  <!-- <ng-component select="[formdsfsd]"></ng-component>  -->
  
  <!-- <ng-component select="[button-section]"></ng-component> -->
    <!--  <button type="submit" class="custom-button2" (click)="navigateUpload()"><ion-icon name="cloud-upload-outline" size="default" color="primary"></ion-icon>   Cargar Actas</button>
    <button type="submit" class="custom-button2" ><ion-icon name="document-text-outline" size="default" color="primary"></ion-icon>   Digilenciar Actas</button> -->
   
</div>