<ion-content [fullscreen]="true" class="ion-padding">
  <app-container-card>
    <strong title>Reestablecer Contraseña</strong>

    <div form-section>
      <form #RPasswordForm="ngForm">
        <ion-input
          required
          type="email"
          fill="outline"
          label="Email*"
          [pattern]="emailPattern"
          labelPlacement="floating"
          errorText="El correo electrónico no es válido"
          name="reset_p"
          [(ngModel)]="model2.email"
        >
        </ion-input>
      </form>
    </div>
    <button button-section type="submit" (click)="onClickSubmitReset()">
      <ion-icon name="log-in-outline" size="default" color="primary"></ion-icon>
      Aceptar
    </button>
  </app-container-card>
</ion-content>
