<!-- <ion-content [fullscreen]="true" class="ion-padding"> -->
<app-container-card>
  <h3 title>Reestablecer Contraseña</h3>

  <div form-section>
    <p style="font-size: smaller; color: gray; text-align: initial">
      Ingresa tu correo electrónico y te enviaremos un correo para que puedas
      crear una nueva contraseña
    </p>
    <form #RPasswordForm="ngForm">
      <ion-input
        required
        type="email"
        fill="outline"
        label="Email*"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        labelPlacement="floating"
        errorText="El correo electrónico no es válido"
        name="reset_p"
        [(ngModel)]="model2.email"
      >
      </ion-input>
    </form>
  </div>
  <button button-section type="submit" (click)="onClickSubmitReset()">
    <ion-icon name="log-in-outline" size="default" color="primary"></ion-icon>
    Aceptar
  </button>
</app-container-card>
<!-- </ion-content> -->
