<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cargar Actas</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="outer-container">
    <div id="container">
      <strong>Cargar Actas</strong>
      
      <div class="custom-ion-item">
        
        <div class="inputGroup">
          <div class="custom-ion-item">
            <form (ngSubmit)="uploadFile()" #fileForm="ngForm">
              <div class="inputGroup">
                <label for="fileInput" class="input-icon">📂</label>
                <input type="file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" id="fileInput" />
              </div>
              <button class="custom-button" expand="full" type="submit" [disabled]="!selectedFile"><ion-icon name="cloud-download-outline" size="default" color="primary"></ion-icon>  Cargar Archivo</button>
              <button class="custom-button" expand="full" type="submit" (click)="navigateHome()"> <ion-icon name="home-outline" color="primary" ></ion-icon>   Volver </button>
            </form>
          </div>
          
          
        </div>
        

      </div>
    </div>
  </div>
</ion-content>

