/* Estilos para el fondo */
  #container {
    text-align: center;
    padding: 20px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color: white;
  } 


/* Estilos para el titulo */

  :host ::ng-deep [title]{
    line-height: 26px;
    margin-bottom: 20px; 
  }

    
/* Estilos para el fromulario */
  
  :host ::ng-deep [form-section]{
    color: #090101;
    font-size: 15px;

  }
