

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <ion-toolbar>
      <ion-title size="large">form</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENEDOR PRINCIPAL -->
  <div id="outer-container">
    <!-- CONTENEDOR DONDE VA EL FORMATO PRINCIPAL -->
    <div id="container">
      <!-- CONTENEDOR INFO DE LA EMPRESA -->
      <div id="container-infoE">
        <img src="https://www.mundodeportivo.com/alfabeta/hero/2022/07/Goku-ha-desarrollado-sus-tecnicas-a-un-nivel-cercano-a-los-Dioses.jpg?width=768&aspect_ratio=16:9&format=nowebp" >
        <P>CALI-AIRES S.A.S <br>NIT. 901 055 034 - 5 <br>INFORME TECNICO </P>        
      </div>
      <!-- CONTENEDOR DEL CODIGO -->
      <div id="container-Code">
        <P>CODIGO DE EQUIPO N°.  __________ </P>
      </div>
      <!-- CONTENEDOR1 -->
      <div id="container1">
        <table>
            <tr>
                <td class="espacio">FECHA  _________________________________________</td>
                <td class="espacio">MARCA  _________________________________________</td>
                <td class="espacio">CAPACIDAD  ____________________________________________</td>
            </tr>
            <tr>
                <td class="espacio">CLIENTE  ________________________________________</td>
                <td class="espacio">MODELO ________________________________________</td>
                <td class="espacio">TIPO DE EQUIPO  ________________________________________</td>
            </tr>
            <tr>
                <td class="espacio">TIPO MNTTO  ____________________________________</td>
                <td class="espacio">NOMBRE DE EQUIPO  ______________________________</td>
                <td class="espacio">______________________________________________________</td>
            </tr>
        </table>
      </div>

      <!-- tablas -->
      <div id="tablege">
        
      <!-- CONTENEDOR2 -->
        <div id="container2" class="stylec" >
          <table >
            <tr>
              <td colspan="3">DATOS TECNICOS Y MEDICONES </td>
            </tr>
            <tr>
              <td colspan="3">UNIDAD MANEJADORA</td>
            </tr>
            <tr>
              <td rowspan="4">MOTOR DATOS DE PLACA</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>VOL</td>
              <td></td>
            </tr>
            <tr>
              <td>AMP</td>
              <td></td>     
            </tr>
            <tr>
              <td>RPM</td>
              <td></td>        
            </tr>
            <tr>
              <td rowspan="3">MEDICIONES VOLTAJE</td>
              <td></td>
              <td></td>      
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>       
            </tr>
            <tr>
              <td rowspan="3">AMPERAJE</td>
              <td></td>
              <td></td>     
            </tr>
            <tr>
              <td></td>
              <td></td>     
            </tr>
            <tr>
              <td></td>
              <td></td>    
            </tr>
          </table>   
        </div>
    

       <!-- CONTENEDOR3 -->
        <div id="container3" class="stylec">
          <table >
            <tr>
              <td colspan="4">UNIDAD COMPRESORA </td>
            </tr>
            <tr>
              <td colspan="2"></td>          
              <td>1</td>
              <td>2</td>
            </tr>
            <tr>
              <td rowspan="4">DATOS DE PLACA</td>
              <td>HP</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>VOL</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>AMP</td>
              <td></td>    
              <td></td> 
            </tr>
            <tr>
                     
            </tr>
            <tr>
              <td rowspan="3">MEDICIONES VOLTAJE</td>
              <td>VL1-L2</td>
              <td></td>  
              <td></td>     
            </tr>
            <tr>
              <td>VL2-L3</td>
              <td></td>
              <td></td> 
            </tr>
            <tr>
              <td>VL3-L1</td>
              <td></td>  
              <td></td>      
            </tr>
            <tr>
              <td rowspan="3">AMPERAJE</td>
              <td>L1</td>
              <td></td>
              <td></td>      
            </tr>
            <tr>
              <td>L2</td>
              <td></td> 
              <td></td>     
            </tr>
            <tr>
              <td>L3</td>
              <td></td>   
              <td></td>  
            </tr>
            <tr>
              <td rowspan="2">PRESIONES (ESTADOS)</td>
              <td>ALTA</td>
              <td></td>  
              <td></td>     
            </tr>
            <tr>
              <td>BAJA</td>
              <td></td>
              <td></td> 
            </tr>
          </table>   
        </div>  
      

      <!-- CONTENEDOR4 -->
        <div id="container4" class="stylec">
          <table >
            <tr>
              <td colspan="4">MOTOR CONDENSADORA </td>
            </tr>
            <tr>
              <td colspan="2"></td>          
              <td>1</td>
              <td>2</td>
            </tr>
            <tr>
              <td rowspan="4">DATOS DE PLACA</td>
              <td>HP</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>VOL</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>AMP</td>
              <td></td>    
              <td></td> 
            </tr>
            <tr>
              <td>RPM</td>
              <td></td>    
              <td></td>        
            </tr>
            <tr>
              <td rowspan="3">MEDICIONES VOLTAJE</td>
              <td>VL1-L2</td>
              <td></td>  
              <td></td>     
            </tr>
            <tr>
              <td>VL2-L3</td>
              <td></td>
              <td></td> 
            </tr>
            <tr>
              <td>VL3-L1</td>
              <td></td>  
              <td></td>      
            </tr>
            <tr>
              <td rowspan="3">AMPERAJE</td>
              <td>L1</td>
              <td></td>
              <td></td>      
            </tr>
            <tr>
              <td>L2</td>
              <td></td> 
              <td></td>     
            </tr>
            <tr>
              <td>L3</td>
              <td></td>   
              <td></td>  
            </tr>
          </table>  
        </div> 

      <!-- CONTENEDOR5 -->
        <div id="container5" class="stylec">
          <table >
            <tr>
              <td colspan="8">LABORES Y REVISIONES REALIZADAS </td>
            </tr>
            <tr>
              <td colspan="8">UNIDAD DE MANEJO</td>
            </tr>
            <tr>
              <td></td>
              <td>EF</td>
              <td>COM</td>
              <td>N/A</td>
              <td></td>
              <td>EF</td>
              <td>COM</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>LIMPIEZA INTERIOR-EXTERIOR</td>
              <td></td>
              <td></td>
              <td></td>
              <td>AJUSTE GENERAL DE TORNILOS</td>
              <td></td>
              <td></td>
              <td></td>
                
            </tr>
            <tr>
              <td>LAVADO DE SERPENTINES</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION VALVULAS<br> DE TORNILLOS</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>AJUSTES PRIONEROS DE CHUMAREJAS</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION ACCESORIOS<br>ELECTRICOS Y AJUSTES DE<br>TORNILLERIA TAB. DE CONTROL </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>LAVADO FILTRO DE AIRE</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION RELE BIOMETALICO </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>LAVADO FILTRO DE AIRE</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION RELE BIOMETALICO </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>TENSION DE CORREAS</td>
              <td></td>
              <td></td>
              <td></td>
              <td>LIMPIEZA TABLERO ELECTRONICO </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>CAMBIO DE CORREAS</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION TERMOSTATO </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>REVISION RODAMIENTOS</td>
              <td></td>
              <td></td>
              <td></td>
              <td>INSPECCION MOTOR </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>REVISION AISLAMIENTO INTERIOR</td>
              <td></td>
              <td></td>
              <td></td>
              <td>LIMPIEZA DE DESAGUES </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>CAMBIO FILTRO</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>   
        </div>
      
      <!-- CONTENEDOR6 -->
        <div id="container6" class="stylec">
          <table >          
            <tr>
              <td colspan="8">UNIDAD CONDENSADORA</td>
            </tr>
            <tr>
              <td></td>
              <td>EF</td>
              <td>COM</td>
              <td>N/A</td>
              <td></td>
              <td>EF</td>
              <td>COM</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>LIMPIEZA INTERIOR-EXTERIOR</td>
              <td></td>
              <td></td>
              <td></td>
              <td>AJUSTE GENERAL DE TORNILOS</td>
              <td></td>
              <td></td>
              <td></td>
                
            </tr>
            <tr>
              <td>LAVADO DE SERPENTINES</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION ACCESORIOS<br>ELECTRICOS Y AJUSTES DE<br>TORNILLERIA TAB. DE CONTROL </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RODAMIENTOS</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION RELE BIOMETALICO </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>REVISION DE COMPRESOR</td>
              <td></td>
              <td></td>
              <td></td>
              <td rowspan="2">INSPECCION DE TUBERIA <br>REFIGERANTE </td>
              <td rowspan="2"></td>
              <td rowspan="2"></td>
              <td rowspan="2"></td>
            </tr>
            <tr>
              <td>ESTADO DE SOPORTE</td>
              <td></td>
              <td></td>
              <td></td>       
            </tr>        
          </table>   
        </div>

      <!-- CONTENEDOR7 -->
        <div id="container7" class="stylec">
          <table >
            <tr>
              <td colspan="8">SISTEMA DE DISTRIBUCION DE AIRE</td>
            </tr>
            <tr>
              <td></td>
              <td>EF</td>
              <td>COM</td>
              <td>N/A</td>
              <td></td>
              <td>EF</td>
              <td>COM</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>REVISION DAMPERS</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION TERMOMETRO</td>
              <td></td>
              <td></td>
              <td></td>        
            </tr>
            <tr>
               <td>INSPECCION</td>
              <td></td>
              <td></td>
              <td></td>
              <td>REVISION GENERAL CONDUCTOS </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>        
          </table>   
        </div>

      <!-- CONTENEDOR8 -->
        <div id="container8" class="stylec" >
          <table >
            <tr>
              <td>DAMPERS SALIDA DE AIRE</td>
              <td>°C</td>
            </tr>
            <tr>
              <td>TEMPERATURA</td>
              <td></td>
            </tr>
                
          </table>   
        </div>

      <!-- CONTENEDOR9 -->
        <div id="container9" class="stylec">
          <table >
            <tr>
              <td>TIPO DE REFIGERANTE</td>
              <td></td>
            </tr>     
          </table>   
        </div>
        <!-- CONTENEDOR10 -->
        <div id="container10" class="stylec">
          <table >
            <tr>
              <td></td>
              <td>EF</td>
              <td>COM</td>
            </tr>
            <tr>
              <td>CONDICIONES ENTREGA DE EQUIPO</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>ENTREGA DE AREA LIMPIA DE TRABAJO</td>
              <td></td>
              <td></td>
            </tr>       
          </table>   
        </div>
        <!-- CONTENEDOR11 -->
        <div id="container11" class="stylec">
          <table >
            <tr>
              <td>DIF. DE PRESION UMA PRE-MTTO</td>
              <td>35%</td>
              <td>65%</td>
              <td>95%</td>
            </tr>
            <tr>
              <td>PARAMETRO(0,2 A 1,5 INCA)</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>     
          </table>   
        </div>
         <!-- CONTENEDOR12 -->
         <div id="container12" class="stylec">
          <table >
            <tr>
              <td>DIF. DE PRESION UMA POS-MTTO</td>
              <td>35%</td>
              <td>65%</td>
              <td>95%</td>
            </tr>
            <tr>
              <td>PARAMETRO(0,2 A 1,5 INCA)</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>     
          </table>   
        </div>
        <!-- CONTENEDOR13 -->
        <div id="container13" class="stylec">
          <table>
              <tr>
                  <td>OBSERVACIONES:</td>
              </tr>
              <tr>
                <td>__________________________________________________________________________________<br>__________________________________________________________________________________</td>
              </tr>
          </table>
        </div>
        <!-- CONTENEDOR14 -->
      <!--   <div id="container14" class="stylec">
          <table>
              <tr>
                  <td>____________________</td>
                  <td>____________________</td>
                  <td>____________________</td>
              </tr>
              <tr>
                <td>FIRMA EJECUTOR</td>
                <td>FIRMA RECIBE</td>
                <td>FIRMA SELLO</td>
              </tr>
          </table>
        </div> -->
      <!-- fin tabla -->
      </div>
      
    </div>
  </div>
</ion-content>
