
#outer-container {
    width: 21.59cm; /* Ancho de la hoja tamaño carta */
    height: 27.94cm; /* Alto de la hoja tamaño carta */
    border: 1px solid black; /* Opcional: Agregar un borde para visualizar el contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    background-color: white;
    
    overflow: hidden; /* Evita que el contenido desborde el contenedor */
    
  }
  /* Estilos para el #container */
  

/* Estilos para el #container-infoE */
#container-infoE {
  position: absolute;
  top: 30px;
  left: 20.5%;
  padding: 5px;
  background-color: white;
 
  border: 1px solid #000000;
  text-align: center;
  color: #000000;
  font-size: 20px;
  line-height: 15px;
  display: block;
  margin-bottom: 20px;
  
}

#container-infoE img {
  width: 140px; /* Tamaño de la imagen */
  margin-right:90px; /* Espacio entre la imagen y el párrafo */
 
}

#container-Code {
  position: absolute;
  top: 30px;
  left: 66.8%;
  padding: 5px;
  background-color: white;
  
  border: 1px solid #000000;
  text-align: center;
  color: #000000;
  font-size: 20px;
  line-height: 16px;
  display: block;
  margin-bottom: 20px;
}

// CONTENEDOR 1

#container1 {
  position: absolute;
  top: 23%;
  left: 20.5%;
  padding: 1px;
  border: 1px solid #000000;
  text-align: left; /* Alinea el texto a la izquierda */
  color: #000000;
  font-size: 20px;
  line-height: 16px;
  display: block;
  margin-bottom: 20px;
}
/* Estilo para los elementos <p> dentro de #container1 con la clase .espacio */
#container1 .espacio {
  text-align: left; /* Alinea el texto a la izquierda */
}

// CONTENEDOR 2

#container2 {
  top: 33%;
  left: 20.5%;
}

// CONTENEDOR 3
#container3 {
  top: 62%;
  left: 20.5%;
}

 // CONTENEDOR4
#container4 { 
  top: 115%;
  left: 20.5%;
}

// CONTENEDOR5

#container5 {
  top: 33%;
  left: 42%;
}

// CONTENEDOR6

#container6 {
  top: 92%;
  left: 42%;
}

// CONTENEDOR7

#container7 {
  top: 126%;
  left: 42%;
}

// CONTENEDOR8
#container8 {
  top: 143.5%;
  left: 42%;
}

// CONTENEDOR9
#container9 { 
  top: 153.5%;
  left: 42%;
}

// CONTENEDOR10
#container10 {
  top: 160%;
  left: 42%;
}

// CONTENEDOR11
#container11 {
  top: 143.5%;
  left: 60%;
}

// CONTENEDOR12
#container12 {
  top: 160%;
  left: 60%;
}
// CONTENEDOR13
#container13 {
  top: 174%;
  left: 42%;
}

// CONTENEDOR13
#container14 {
  top: 174%;
  left: 32%;
}
//estilo letra
p {
  font-family: 'Calibri Light', sans-serif;
  font-size: 10px;
}
table {
  font-family: 'Calibri Light', sans-serif;
  font-size: 10px;
}

#container-infoE p {
  
  text-align: right;
  margin-top: -70px;
}

// ESTILO TABLA

#tablege table {
  border-collapse: collapse; /* Colapsa los bordes de la tabla para que se vean mejor */
 /*  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */ 
}

#tablege td, #table th {
  border: 1px solid black; /* Agrega un borde de 1px a todas las celdas */
  padding: 2px; /* Agrega espacio entre el contenido de las celdas y los bordes */
  text-align: left; /* Centra el texto en las celdas */
}

#tablege th {
  background-color: #f2f2f2; /* Agrega un fondo gris claro a las celdas de encabezado */
}

// estilo de las tablas de fromularios
.stylec{

    position: absolute;
    padding: 1px;
    border: 1px solid #000000;
    text-align: left; /* Alinea el texto a la izquierda */
    color: #000000;
    font-size: 20px;
    line-height: 16px;
    display: block;
    margin-bottom: 20px;

}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  /* Agrega estilos específicos para pantallas grandes aquí */
}

/* Estilos para pantallas medianas */
@media (max-width: 1023px) {
  /* Agrega estilos específicos para pantallas medianas aquí */
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  /* Agrega estilos específicos para pantallas pequeñas aquí */
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  /* Agrega estilos específicos para pantallas grandes aquí */
}

/* Estilos para pantallas medianas */
@media (max-width: 1023px) {
  /* Agrega estilos específicos para pantallas medianas aquí */
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  /* Agrega estilos específicos para pantallas pequeñas aquí */
}


