<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">form2</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="outer-container">
      <div id="container">
        
        <!-- CONTENEDOR INFO DE LA EMPRESA -->
              
        <div id="container-infoE">
          <div class="image-container">
            <img src="assets/logo_cali_airesrm.png" />
          </div>
          <div class="text-container">
            <p>CALI-AIRES S.A.S <br>NIT. 901 055 034 - 5 <br>INFORME TECNICO </p>
          </div>
        </div>
        <!-- CONTENEDOR DEL CODIGO -->
        <div id="container-Code">
          <P>CODIGO DE EQUIPO N°.  __________ </P>
        </div>
  
        
        <!-- CONTENEDOR1 -->
        <div id="container1" >
          <table>
              <tr>
                  <td >FECHA  ________________________ </td>
                  <td >MARCA  ________________________ </td>
                  <td >CAPACIDAD  ________________________</td>
              </tr>
              <tr>
                  <td >CLIENTE _______________________</td>
                  <td >MODELO  _______________________</td>
                  <td >TIPO DE EQUIPO  ____________________</td>
              </tr>
              <tr>
                  <td >TIPO MNTTO  ___________________ </td>
                  <td colspan="2">NOMBRE DE EQUIPO  _________________________________________________</td>
                  
              </tr>
          </table>
        </div>
  
        <!-- tablas -->
        <div id="tablege">
          
        <!-- CONTENEDOR2 -->
          <div id="container2" class="stylec" >
            <table >
              <tr>
                <td colspan="3">DATOS TECNICOS Y MEDICONES </td>
              </tr>
              <tr>
                <td colspan="3">UNIDAD MANEJADORA</td>
              </tr>
              <tr>
                <td rowspan="4">MOTOR DATOS DE PLACA</td>
                <td  class="tam2">&nbsp;</td>
                <td class="tam2"></td>
              </tr>
              <tr>
                <td >VOL</td>
                <td ></td>
              </tr>
              <tr>
                <td>AMP</td>
                <td></td>     
              </tr>
              <tr>
                <td>RPM</td>
                <td></td>        
              </tr>
              <tr>
                <td rowspan="3">MEDICIONES VOLTAJE</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>      
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>       
              </tr>
              <tr>
                <td rowspan="3">AMPERAJE</td>
                <td  class="tam"> &nbsp;</td>
                <td class="tam"></td>     
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>     
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>    
              </tr>
            </table>   
          </div>
      
  
         <!-- CONTENEDOR3 -->
          <div id="container3" class="stylec">
            <table >
              <tr>
                <td colspan="4">UNIDAD COMPRESORA </td>
              </tr>
              <tr>
                <td colspan="2"></td>          
                <td  class="tam">1</td>
                <td  class="tam">2</td>
              </tr>
              <tr>
                <td rowspan="4">DATOS DE PLACA</td>
                <td >HP</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>VOL</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>AMP</td>
                <td></td>    
                <td></td> 
              </tr>
              <tr>
                       
              </tr>
              <tr>
                <td rowspan="3">MEDICIONES VOLTAJE</td>
                <td>VL1-L2</td>
                <td></td>  
                <td></td>     
              </tr>
              <tr>
                <td>VL2-L3</td>
                <td></td>
                <td></td> 
              </tr>
              <tr>
                <td>VL3-L1</td>
                <td></td>  
                <td></td>      
              </tr>
              <tr>
                <td rowspan="3">AMPERAJE</td>
                <td>L1</td>
                <td></td>
                <td></td>      
              </tr>
              <tr>
                <td>L2</td>
                <td></td> 
                <td></td>     
              </tr>
              <tr>
                <td>L3</td>
                <td></td>   
                <td></td>  
              </tr>
              <tr>
                <td rowspan="2">PRESIONES (ESTADOS)</td>
                <td>ALTA</td>
                <td></td>  
                <td></td>     
              </tr>
              <tr>
                <td>BAJA</td>
                <td></td>
                <td></td> 
              </tr>
            </table>   
          </div>  
        
  
        <!-- CONTENEDOR4 -->
          <div id="container4" class="stylec">
            <table >
              <tr>
                <td colspan="4">MOTOR CONDENSADORA </td>
              </tr>
              <tr>
                <td colspan="2"></td>          
                <td  class="tam">1</td>
                <td  class="tam">2</td>
              </tr>
              <tr>
                <td rowspan="4">DATOS DE PLACA</td>
                <td>HP</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>VOL</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>AMP</td>
                <td></td>    
                <td></td> 
              </tr>
              <tr>
                <td>RPM</td>
                <td></td>    
                <td></td>        
              </tr>
              <tr>
                <td rowspan="3">MEDICIONES VOLTAJE</td>
                <td>VL1-L2</td>
                <td></td>  
                <td></td>     
              </tr>
              <tr>
                <td>VL2-L3</td>
                <td></td>
                <td></td> 
              </tr>
              <tr>
                <td>VL3-L1</td>
                <td></td>  
                <td></td>      
              </tr>
              <tr>
                <td rowspan="3">AMPERAJE</td>
                <td>L1</td>
                <td></td>
                <td></td>      
              </tr>
              <tr>
                <td>L2</td>
                <td></td> 
                <td></td>     
              </tr>
              <tr>
                <td>L3</td>
                <td></td>   
                <td></td>  
              </tr>
            </table>  
          </div> 
  
        <!-- CONTENEDOR5 -->
          <div id="container5" class="stylec">
            <table >
              <tr>
                <td colspan="8">LABORES Y REVISIONES REALIZADAS </td>
              </tr>
              <tr>
                <td colspan="8">UNIDAD DE MANEJO</td>
              </tr>
              <tr>
                <td></td>
                <td  class="tam2">EF</td>
                <td class="tam2">COM</td>
                <td class="tam2">N/A</td>
                <td></td>
                <td class="tam2">EF</td>
                <td class="tam2">COM</td>
                <td class="tam2">N/A</td>
              </tr>
              <tr>
                <td>LIMPIEZA INTERIOR-EXTERIOR</td>
                <td></td>
                <td></td>
                <td></td>
                <td>AJUSTE GENERAL DE TORNILOS</td>
                <td></td>
                <td></td>
                <td></td>
                  
              </tr>
              <tr>
                <td>LAVADO DE SERPENTINES</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION VALVULAS<br> DE TORNILLOS</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>AJUSTES PRIONEROS DE CHUMAREJAS</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION ACCESORIOS<br>ELECTRICOS Y AJUSTES DE<br>TORNILLERIA TAB. DE CONTROL </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>LAVADO FILTRO DE AIRE</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION RELE BIOMETALICO </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>LAVADO FILTRO DE AIRE</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION RELE BIOMETALICO </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>TENSION DE CORREAS</td>
                <td></td>
                <td></td>
                <td></td>
                <td>LIMPIEZA TABLERO ELECTRONICO </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>CAMBIO DE CORREAS</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION TERMOSTATO </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>REVISION RODAMIENTOS</td>
                <td></td>
                <td></td>
                <td></td>
                <td>INSPECCION MOTOR </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>REVISION AISLAMIENTO INTERIOR</td>
                <td></td>
                <td></td>
                <td></td>
                <td>LIMPIEZA DE DESAGUES </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>CAMBIO FILTRO</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>   
          </div>
        
        <!-- CONTENEDOR6 -->
          <div id="container6" class="stylec">
            <table >          
              <tr>
                <td colspan="8">UNIDAD CONDENSADORA</td>
              </tr>
              <tr>
                <td></td>
                <td class="tam2">EF</td>
                <td class="tam2">COM</td>
                <td class="tam2">N/A</td>
                <td></td>
                <td class="tam2">EF</td>
                <td class="tam2">COM</td>
                <td class="tam2">N/A</td>
              </tr>
              <tr>
                <td>LIMPIEZA INTERIOR-EXTERIOR</td>
                <td></td>
                <td></td>
                <td></td>
                <td>AJUSTE GENERAL DE TORNILOS</td>
                <td></td>
                <td></td>
                <td></td>
                  
              </tr>
              <tr>
                <td>LAVADO DE SERPENTINES</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION ACCESORIOS<br>ELECTRICOS Y AJUSTES DE<br>TORNILLERIA TAB. DE CONTROL </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>RODAMIENTOS</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION RELE BIOMETALICO </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>REVISION DE COMPRESOR</td>
                <td></td>
                <td></td>
                <td></td>
                <td rowspan="2">INSPECCION DE TUBERIA <br>REFIGERANTE </td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
              </tr>
              <tr>
                <td>ESTADO DE SOPORTE</td>
                <td></td>
                <td></td>
                <td></td>       
              </tr>        
            </table>   
          </div>
  
        <!-- CONTENEDOR7 -->
          <div id="container7" class="stylec">
            <table >
              <tr>
                <td colspan="8">SISTEMA DE DISTRIBUCION DE AIRE</td>
              </tr>
              <tr>
                <td></td>
                <td class="tam2">EF</td>
                <td class="tam2">COM</td>
                <td class="tam2">N/A</td>
                <td></td>
                <td class="tam2">EF</td>
                <td class="tam2">COM</td>
                <td class="tam2">N/A</td>
              </tr>
              <tr>
                <td>REVISION DAMPERS</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION TERMOMETRO</td>
                <td></td>
                <td></td>
                <td></td>        
              </tr>
              <tr>
                 <td>INSPECCION</td>
                <td></td>
                <td></td>
                <td></td>
                <td>REVISION GENERAL CONDUCTOS </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>        
            </table>   
          </div>
  
        <!-- CONTENEDOR8 -->
          <div id="container8" class="stylec" >
            <table >
              <tr>
                <td>DAMPERS SALIDA DE AIRE</td>
                <td class="tam2"> °C&nbsp;&nbsp; </td>
              </tr>
              <tr>
                <td>TEMPERATURA</td>
                <td></td>
              </tr>
                  
            </table>   
          </div>
  
        <!-- CONTENEDOR9 -->
          <div id="container9" class="stylec">
            <table >
              <tr>
                <td>TIPO DE REFIGERANTE</td>
                <td > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              </tr>     
            </table>   
          </div>
          <!-- CONTENEDOR10 -->
          <div id="container10" class="stylec">
            <table >
              <tr>
                <td></td>
                <td class="tam2">EF&nbsp;&nbsp;</td>
                <td class="tam2">COM</td>
              </tr>
              <tr>
                <td>CONDICIONES ENTREGA DE EQUIPO</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>ENTREGA DE AREA LIMPIA DE TRABAJO</td>
                <td></td>
                <td></td>
              </tr>       
            </table>   
          </div>
          <!-- CONTENEDOR11 -->
          <div id="container11" class="stylec">
            <table >
              <tr>
                <td>DIF. DE PRESION UMA PRE-MTTO</td>
                <td>35%</td>
                <td>65%</td>
                <td>95%</td>
              </tr>
              <tr>
                <td>PARAMETRO(0,2 A 1,5 INCA)</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>     
            </table>   
          </div>
           <!-- CONTENEDOR12 -->
           <div id="container12" class="stylec">
            <table >
              <tr>
                <td>DIF. DE PRESION UMA POS-MTTO</td>
                <td>35%</td>
                <td>65%</td>
                <td>95%</td>
              </tr>
              <tr>
                <td>PARAMETRO(0,2 A 1,5 INCA)</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>     
            </table>   
          </div>
          <!-- fin tabla -->
        </div>
          <!-- CONTENEDOR13 -->
          <div id="container13" class="stylec">
            <table>
                <tr>
                    <td>OBSERVACIONES:</td>
                </tr>
                <tr>
                  <td>__________________________________________________________________________________<br>__________________________________________________________________________________</td>
                </tr>
            </table>
          </div>
          
          <!-- CONTENEDOR14 -->
          <div id="container14" >
            <table>
                <tr>
                    <td>________________________________________&nbsp;&nbsp;</td>
                    <td>________________________________________&nbsp;&nbsp;</td>
                    <td>________________________________________</td>
                </tr>
                <tr>
                  <td>FIRMA EJECUTOR</td>
                  <td>FIRMA RECIBE</td>
                  <td>SELLO</td>
                </tr>
            </table>
          </div>
        
        
      </div>
    </div>
  </ion-content>
  