<app-container-card *ngIf="!areMinutesRequested">
  <h3 title>Consulta informes tecnicos</h3>

  <form #downloadMinuteForm="ngForm" form-section (ngSubmit)="onSubmit()">
    <div>
      <ion-input
        required
        type="text"
        fill="outline"
        label="Código de equipo"
        labelPlacement="floating"
        [(ngModel)]="model.equipmentCode"
        name="equipmentCode"
      ></ion-input>
      <br />
      <div align="center" *ngIf="(userData$ | async) == null">
        <re-captcha
          [(ngModel)]="model.captcha"
          name="captcha"
          required
          [siteKey]="siteKey"
        ></re-captcha>
      </div>
    </div>
    <br />
    <ion-button
      type="submit"
      [disabled]="!downloadMinuteForm.form.valid"
      color="medium"
    >
      Consultar
    </ion-button>
  </form>
</app-container-card>

<app-container-card *ngIf="areMinutesRequested">
  <h3 title>
    Equipo: {{ model.equipmentCode }}
    <br />
    <small>Últimos 5 informes del equipo </small>
  </h3>

  <div form-section>
    <ion-item color="default" *ngFor="let minute of minutes; index as i">
      <ion-label>
        <p>
          <strong>tipo de mantenimiento:</strong>
          {{minute.maintenance_type }}
        </p>
        <p><strong>Fecha:</strong> {{minute.date }}</p>
      </ion-label>

      <ion-icon
        color="tertiary"
        slot="end"
        name="cloud-download-outline"
        size="large"
        (click)="onDownloadPDF(minute.id)"
      >
      </ion-icon>
    </ion-item>
    <br />
    <ion-button color="medium" (click)="onRequestAgain()">
      Nueva Consulta
    </ion-button>
  </div>
</app-container-card>
