
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="outer-container">

    <app-container-card>
      <strong title>Bienvenido a cali aires</strong>

        <button button-section type="submit" class="custom-button2" (click)="navigateUpload()"> Cargar Actas</button>
      
      
    </app-container-card>
    
    <!-- <div id="container">
      <strong>Bienvenido</strong>
      
     
        
              
        <button type="submit" class="custom-button2" (click)="navigateUpload()"><ion-icon name="cloud-upload-outline" size="default" color="primary"></ion-icon>   Cargar Actas</button>
        <button type="submit" class="custom-button2" ><ion-icon name="document-text-outline" size="default" color="primary"></ion-icon>   Digilenciar Actas</button>
      
    </div> -->
  </div>
</ion-content>
