<!-- <ion-content [fullscreen]="true"> -->
<app-container-card>
  <h3 title>Consulta tu informe tecnico</h3>
  <div form-section>
    <ion-input
      id="numC"
      type="text"
      fill="outline"
      label="Numero de informe"
      labelPlacement="floating"
      [(ngModel)]="numInforme"
    ></ion-input>
    <br />
    <div align="center" *ngIf="!isAuthenticated">
      <re-captcha
        [siteKey]="siteKey"
        (resolved)="captchaResolved2($event)"
      ></re-captcha>
    </div>
  </div>
  <button button-section type="button" (click)="descargarM()">Descargar</button>
</app-container-card>
<!-- </ion-content> -->
