<ion-content [fullscreen]="true">
  <app-container-card>
    <strong title>Consulta tu informe técnico</strong>
    <div form-section>
      <ion-input
        id="numC"
        type="text"
        fill="outline"
        label="#Informe"
        labelPlacement="floating"
        [(ngModel)]="numInforme"
      ></ion-input>
      <br />
      <div align="center" *ngIf="!isAuthenticated">
        <re-captcha
          [siteKey]="siteKey"
          (resolved)="captchaResolved2($event)"
        ></re-captcha>
      </div>
    </div>
    <button button-section type="button" (click)="descargarM()">
      Descargar
    </button>
  </app-container-card>
</ion-content>
